html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 500px) {
   #cover: {
     visibility: visible;
     display: block;
   }
}

#cover {
  visibility: hidden;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  color: #343A40;
  font-family: googleFont;
  font-size: 50px;
  z-index:800;
  width: 100%;
  height:100%;
  pointer-events: none;
  text-align: center;
}

#renderCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
  z-index: 1;

  position : absolute;
  left: 0;
  top: 0;
}

#p5-canvas canvas {
  z-index: 100;
  position : absolute;
  left: 0;
  top: 0;
    pointer-events: none;
}

#gui {
  z-index: 400;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

#BRButtons {
  position: fixed;
  bottom: 30px;
  right: 30px;
}



#mapData {
  position: fixed;
  color: white;
  background-color: #343a40;
  bottom: 0;
  right: 0;
  font-size: 9px;
}


#mapData span {
  padding-right:15px;
  padding-left:5px;
}

@font-face {
  font-family: googleFont;
  src: url("assets/fonts/Product Sans Regular.ttf");
}

#logo {
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: white;
  position: fixed;
  bottom: 10px;
  font-family: googleFont;
  text-shadow: 2px 2px #000000;
}


#xout a {
  color: white;
  position: fixed;
  right: 30px;
  top:30px;
  font-size:24px;
  pointer-events: auto;
}

#xout a:hover {
  color:#343A40;
}

#loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  color: #343A40;
  font-family: googleFont;
  font-size: 200px;
  z-index:500;
  width: 100%;
  height:100%;
  pointer-events: none;
  text-align: center;
}

#houseViewer {
  position: fixed;
  bottom: 30px;
  left: 30px;
  background-color: rgb(186, 228, 185);
  border: 2px solid #343a40;
  border-radius: 10px;
  width: 270px;
  height: 130px;

  background-image: url("assets/images/house.png");
  background-repeat: no-repeat;

  pointer-events: all;
}

#dude {
  background-image: url("assets/images/rotatingdude.png");
  background-repeat: no-repeat;
  position: relative;
  width: 50px;
  height:60px;
  background-size: 60px;
  margin: auto;
  top: 20%;
}


#feedback a {
  color: white;
  text-decoration: none;
  pointer-events: auto;
}

#feedback a:hover {
  color: #DDDDDD;
}


#TLButtons {
  position: fixed;
  color: white;
  font-family: googleFont;
  font-size: 12px;
  left: 0px;
  top:10px;
  height: 100px;
  width: 210px;
  border-radius: 0px 5px 5px 0px;
  background-color: rgba(0, 0, 0, .5);
}



#roomID {
  font-size: 16px;
}

#arrowNext {
  font-size: 16px;
  padding-left:20px;
}

#roomDeets {
  border-left: 1px solid gray;
}

#TLButtons a {
  color: white;
  text-decoration: none;
  pointer-events: auto;
}


#roomIcon {
  background-image: url("assets/images/marker.svg");
  background-repeat: no-repeat;
  width: 15px;
  height: 30px;
  background-size: 15px 30px;

}
